
header {
    font-family: 'Poppins', sans-serif;

    a {
        position: absolute;
        right: 0px;
        margin-right: 25px;
        font-size: 12px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: $Very_Dark_Cyan;
    color: white;
}