header,
footer {
  font-family: "Open Sans", sans-serif;
}
header {
  img {
    width: 50vw;
    @include media-large-mobi {
      width: auto;
    }
  }
  a {
    position: absolute;
    right: 0px;
    margin-right: 25px;
    font-size: 12px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

header {
  padding: 5px;
}

main {
  .section {
    &__title {
      text-align: center;
      div {
        padding: 20px;
        margin-bottom: 20px;
      }

      img {
        margin-top: 30px;
        width: 90%;
      }
    }

    &__counting {
      display: flex;
      flex-direction: column;
      @include media-tablet() {
        flex-direction: row;
      }
      & > div {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
        img {
          width: 40px;
        }
        & > span {
          white-space: nowrap;
          &:nth-child(2) {
            font-size: 50pt;
            font-weight: bold;
          }
          &:nth-child(3) {
            color: rgb(102, 102, 102);
          }
        }
      }
    }

    &:first-child {
      text-align: center;
      & > div {
        padding: 0 20px;
        @include media-large-mobi() {
          padding: 0 50px;
        }
      }
      img {
        margin-top: 80px !important;
      }
    }

    &:nth-child(2) {
      text-align: center;
      margin-top: 50px;
      article {
        margin-top: 250px;
        margin-bottom: 250px;
        @include media-desktop {
          display: flex;
          flex-direction: row;
          align-items: center;
          &:nth-child(even) {
            flex-direction: row-reverse;
          }
        }

        img {
          max-width: -webkit-fill-available;
          max-width: -moz-available;
          padding: 0 20px;
          @include media-large-mobi() {
            padding: 0 100px;
          }
          @include media-desktop {
            max-width: 40%;
          }
        }
        div {
          padding: 0 10px;
          @include media-large-mobi() {
            padding: 0 50px;
          }
        }
        &:first-child {
          &::before {
            background-image: url("./images/bg-section-top-mobile-1.svg");
            @include media-large-mobi() {
              background-image: url("./images/bg-section-top-desktop-1.svg");
            }
          }
          &::after {
            background-image: url("./images/bg-section-bottom-mobile-1.svg");
            @include media-large-mobi() {
              background-image: url("./images/bg-section-bottom-desktop-1.svg");
            }
          }
        }
        &:last-child {
          &::before {
            background-image: url("./images/bg-section-top-mobile-2.svg");
            @include media-large-mobi() {
              background-image: url("./images/bg-section-top-desktop-2.svg");
            }
          }
          &::after {
            background-image: url("./images/bg-section-bottom-mobile-2.svg");
            @include media-large-mobi() {
              background-image: url("./images/bg-section-bottom-desktop-2.svg");
            }
          }
        }

        &:nth-child(odd) {
          background-color: $very_pale_blue;
          background-clip: border-box;
          position: relative;
          &::before,
          &::after {
            background-repeat: no-repeat;
            background-size: 100vw 100px;
            content: "";
            width: 100vw;
            height: 100px;
            left: 0px;
            position: absolute;
          }
          &::before {
            top: -100px;
          }
          &::after {
            bottom: -100px;
          }
        }
      }
    }
  }
}

footer {
  background-color: $very_dark_cyan;
  color: white;
  margin-top: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-tablet() {
    flex-direction: row-reverse;
  }

  &::before {
    background-image: url("./images/bg-footer-top-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100vw 100px;
    content: "";
    width: 100vw;
    height: 100px;
    left: 0px;
    position: absolute;
    top: -99px;
    @include media-large-mobi() {
      background-image: url("./images/bg-footer-top-desktop.svg");
    }
  }

  div {
    margin: 20px;
    @include media-large-mobi() {
      margin: 20px 50px;
    }
    @include media-tablet() {
      width: 49%;
      max-width: 400px;
    }
    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        margin-top: 20px;
        p {
          margin: 0.5em;
        }
      }
    }
  }

  img {
    filter: brightness(0) invert(100%);
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include media-tablet() {
      flex-direction: row;
    }
    input {
      border-radius: 5px !important;
      padding: 5px !important;
      margin: 5px !important;

      &[type="email"] {
        width: 95%;
        margin-right: 5px !important;
      }
      &[type="submit"] {
        text-align: right;
        padding: 5px 15px !important;
        box-shadow: none;
      }
    }
  }
  .social_networks {
    a {
      font-size: 30px;
      margin-right: 10px;
      color: white;
      @include media-large-mobi {
        font-size: 40px;
        margin-right: 20px;
      }
    }
  }
}
