$pink: hsl(322, 100%, 66%);
$light_pink: hsl(321, 100%, 78%);
$light_red: hsl(0, 100%, 63%);
$Very_Dark_Cyan: hsl(192, 100%, 9%);
$Very_Pale_Blue: #f5faff;


@mixin media-mobil {
    @media (max-width: 767px) { // taille mobile selon convention actuelle
        @content;
    }
}

@mixin media-desktop {
    @media (min-width: 1024px) { // taille desktop selon convention actuelle
        //1440px) {
        @content;
    }
}

header {
    font-family: 'Poppins', sans-serif;

    a {
        position: absolute;
        right: 0px;
        font-size: 12px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: $Very_Dark_Cyan;
    color: white;
}